.log{
    color: white;
    background: none;
    border: none;
    outline: none;

}

.log:hover{
    text-decoration: underline;
    cursor: pointer;
}

#basic-addon1{
    font-size: 3px;
}

span{
    margin-right: 1%;
}