
<!-- <app-item-detail [parentData]="ape"></app-item-detail> -->

 <div class="container">
<form class="needs-validation" (ngSubmit)="login(forma)" #forma="ngForm"  >
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustomUsername">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
        </div>
        <input type="text" class="form-control" 
        [(ngModel)]="usuario.username"
        name="username"
         placeholder="Username" 
         aria-describedby="inputGroupPrepend"
          required>
        <div class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom03">Clave</label>
      <input type="text" class="form-control" 
      [(ngModel)]="usuario.clave"
      name="clave"
      placeholder="" 
      required>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Login</button>
</form>
</div>
