<!-- <app-item-detail [parentData]="ape"></app-item-detail> -->

<div class="container md-5 " style="width: 100%;">
  <div class="aea border border-secondary rounded">
    <h1 class="h1"><strong>Login Usuario</strong></h1>
    <div style="margin: 2%;">
      <form (ngSubmit)="login(forma)" #forma="ngForm">
        <div class="input-group mb-2 ">


          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="usuario.username" name="username" placeholder="Ingrese su Usuario"
            aria-describedby="inputGroupPrepend" required>

        </div>
        <div class="input-group mb-2 ">


          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
          </div>
          <input type="password" class="form-control" [(ngModel)]="usuario.clave" name="clave" placeholder="Ingrese su Contraseña"
            aria-describedby="inputGroupPrepend" required>

        </div>

        <button type="submit" class="btn btn-primary">Ingresar <i class="fas fa-angle-double-right 9x"></i>
        
        </button>
        <hr>
        <div class="">
        <a  [routerLink]="['/registrar']" class="badge badge-secondary" style="font-size: 16px;">Aun no estas registrado?</a>
      </div>
      </form>
    </div>
  </div>
</div>