<!--Banner-->

<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<div class="flexslider">
		<ul class="slides">
			<li>
				<img src="/src/assets/imgPrincipal/baner1.jpg" >
				<section class="flex-caption">
					<p>LOREM IPSUM 1</p>
				</section>
			</li>
			<li>
				<img src="/src/assets/imgPrincipal/baner2.jpg" >
				<section class="flex-caption">
					<p>LOREM IPSUM 2</p>
				</section>
			</li>
			<li>
				<img src="/src/assets/imgPrincipal/baner3.jpg" >
				<section class="flex-caption">
					<p>LOREM IPSUM 3</p>
				</section>
			</li>
		</ul>
	</div>
	<app-footer></app-footer>
	
	<script type="text/javascript" src="/src/assets/js/jquery.flexslider-min.js"></script>
	<script type="text/javascript " src="/src/assets/js/jquery.flexslider.js"></script>
	<script type="text/javascript " src="/src/assets/js/banne.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>	